/* Missing NPR Podcasts. Copyright 2012 Jimmy Theis (MIT License).
Unminified file at <https://github.com/jetheis/MissingNPRPodcasts/blob/master/app/css/missingnprpodcasts.css> */

 .container {
    margin-top: 40px;
    margin-bottom: 40px;
 }

 a.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
 }

.subscriptions {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}

.subscriptions.hidden {
    visibility: hidden;
    opacity: 0;
}