!!!5
%html
  %head
    %title Missing NPR Podcasts (Unofficial)
    %meta{:charset => 'utf-8'}
    %meta{:name => 'author', :content => 'Jimmy Theis'}
    %meta{:name => 'description', :content => 'Miss having Morning Edition and All Things Considered Podcasts? Miss no more...'}
    %meta{:property => 'og:locale', :content => 'en_us'}
    %meta{:property => 'og:title', :content => 'Missing NPR Podcasts (Unofficial)'}
    %meta{:property => 'og:description', :content => 'Missing NPR Podcasts (Unofficial)'}
    %meta{:property => 'og:site_name', :content => 'Missing NPR Podcasts (Unofficial)'}
    %meta{:property => 'og:url', :content => 'Missing NPR Podcasts (Unofficial)'}
    %meta{:property => 'og:image', :content => 'Missing NPR Podcasts (Unofficial)'}
    %link{:rel => 'canonical', :href => 'http://missingnprpodcasts.com'}
    %link{:rel => 'image_src', :href => 'img/thumbnail.png'}
    %link{:rel => 'stylesheet', :href => 'css/bootstrap.min.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => 'css/site.css', :type => 'text/css'}
  %body
    %a.ribbon{:href => 'https://github.com/jetheis/MissingNPRPodcasts'}
      %img{:src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', :alt => 'Fork me on GitHub'}
    %div.container
      %div.hero-unit
        %h1 Missing NPR Podcasts (Unofficial)
        %p Description
      %form.form-horizontal
        %div.control-group
          %label.control-label API Key:
          %div.controls
            %input.input-xxlarge#apiKeyField{:type => 'text'}
            %button.btn.btn-primary#apiKeyCheckButton{:type => 'button'} Validate API Key
        %div.subscriptions.hidden
          %div.control-group
            %label.control-label Morning Edition:
            %div.controls
              %a.btn.btn-success#morningEditionITunesButton Subscribe in iTunes
              %a.btn.btn-warning#morningEditionRssButton Raw RSS
          %div.control-group
            %label.control-label All Things Considered:
            %div.controls
              %a.btn.btn-success#allThingsConsideredITunesButton Subscribe in iTunes
              %a.btn.btn-warning#allThingsConsideredRssButton Raw RSS
    %script{:src => 'js/jquery-1.8.2.min.js'}
    %script{:src => 'js/bootstrap.min.js'}
    %script{:src => 'js/site.js'}