!!!5
%html
  %head
    %title All Things Considered Unofficial Podcast
  %body
    %h1 All Things Considered Unofficial Podcast
    %p
      This podcast is for the personal use of Jimmy Theis only.
    %h2 If You Are Jimmy Theis
    .subscribe-link
      %a{:href => "itpc://#{@hostname}/podcast"}
        Subscribe
