!!!5
%html
  %head
    %title All Things Considered Unofficial Podcast
  %body
    %h1 All Things Considered Unofficial Podcast
    %p
      Under Construction
    %h2 Before You Subscribe
    .about-link
      Read the Blog Post
    %h2 Having Read the Blog Post
    .subscribe-link
      Subscribe
