!!!5
%html
  %head
    %title Unofficial Missing NPR Podcasts
    %link{:rel => 'stylesheet', :href => 'css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => 'css/site.css'}
  %body
    %div.container
      %div.hero-unit
        %h1 (Unofficial) Missing NPR Podcasts
        %p Description
    %h1 All Things Considered Unofficial Podcast
    %p
      This podcast is for the personal use of Jimmy Theis only.
    %h2 If You Are Jimmy Theis
    .subscribe-link
      %a{:href => "itpc://#{@hostname}/podcast"}
        Subscribe
    %script{:src => 'js/jquery-1.8.2.min.js'}
    %script{:src => 'js/bootstrap.min.js'}
    %script{:src => 'js/site.js'}
